<%- include('../partials/main', { pageTitle: 'JoshFuels - Dashboard' }) %>
            <!-- index body start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- chart caard section start -->
                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 border-0 card o-hidden">
                                <div class="custome-1-bg b-r-4 card-body">
                                    <div class="media align-items-center static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Revenue</span>
                                            <h4 class="mb-0 counter">₹<%= totalRevenue %>
                                                <span class="badge badge-light-primary grow">
                                                    <i data-feather="trending-up"></i><%= totalRevenue %>% </span>
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i class="ri-database-2-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 border-0 card o-hidden">
                                <div class="custome-2-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Orders</span>
                                            <h4 class="mb-0 counter"><%= allOrders %>
                                                <span class="badge badge-light-danger grow">
                                                    <i data-feather="trending-up"></i><%= allOrders %>%</span>
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i class="ri-shopping-bag-3-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 border-0  card o-hidden">
                                <div class="custome-3-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Products</span>
                                            <h4 class="mb-0 counter"><%= allProducts %>
                                                <a href="/admin/product/add" class="badge badge-light-secondary grow">
                                                    ADD NEW</a>
                                            </h4>
                                        </div>

                                        <div class="align-self-center text-center">
                                            <i class="ri-chat-3-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="main-tiles border-5 border-0 card o-hidden">
                                <div class="custome-4-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Customers</span>
                                            <h4 class="mb-0 counter"><%= allCustomers%>
                                                <span class="badge badge-light-success grow">
                                                    <i data-feather="trending-up"></i><%= allCustomers %>%</span>
                                            </h4>
                                        </div>

                                        <div class="align-self-center text-center">
                                            <i class="ri-user-add-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 d-flex ">
                            <div class="card o-hidden card-hover">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Product</h4>
                                    </div>
                                <div class="upper-card-body d-flex">
                                <% products.forEach(function(item){ %>
                                    <a href="/admin/product/detail/<%= item._id %>">
                                    <div class="product-card-item">
                                        <div class="card-body">
                                        <img src="<% route %>/images/img2.jpg" style="width: 100px; height: 100px; border-radius: 5px;" class="p-2  " >
                                        <br>
                                          <h4 class="product-card-title"><%= item.name%></h4>
                                            <p class="product-card-text">₹<%= item.price%></p>
                                        </div>
                                      </div>
                                    </a>
                                <% }) %>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- chart caard section End -->

                        <!-- Addon start-->
                        <div class="col-xl-6">
                            <div class="card o-hidden card-hover">
                                <div class="card-header card-header-top card-header--2">
                                    <div class="card-header-title">
                                        <h4>Addon</h4>
                                    </div>
                                </div>

                                <div class="card-body p-0">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="best-selling-table table border-0">
                                                <tbody>
                                                    <% addOn.forEach(function(item){ %>
                                                    <tr class="table-order">
                                                        <td>
                                                            <p>Product Name</p>
                                                            <h5><%= item.name %></h5>
                                                        </td>
                                                        <td>
                                                            <p>Price</p>
                                                            <h5>₹<%= item.price %></h5>
                                                        </td>
                                                        <td>
                                                            <p>Created at</p>
                                                            <h5><%= item.created_at.toLocaleDateString('en-UK',options) %></h5>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
    
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Addon end-->

                        <!-- Revenue chart start-->
                        <div class="col-xl-12">
                            <div class="card o-hidden card-hover">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Revenue Report</h4>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div id="revenue-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Earning chart  end-->


                        <!-- Best Selling Product Start -->
                        <div class="col-xxl-6 col-md-6">
                            <div class="card o-hidden card-hover">
                                <div class="card-header card-header-top card-header--2">
                                    <div class="card-header-title">
                                        <h4>Best Selling Product</h4>
                                    </div>

                                    <div class="best-selling-box">
                                        <span>Short By:</span>
                                        <div class="dropdown">
                                            <button class="btn p-0 dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" data-bs-auto-close="true">Today</button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body p-0">
                                    <div>
                                        <div class="table-responsive">
                                            <table class="best-selling-table table border-0">
                                                <tbody>
                                                    <% products.forEach(function(item){ %>
                                                    <tr class="table-order">
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <img src="<% route %>/image/<%= item.image %>" style="width: 100px; height: 100px;"
                                                                    class="" alt="">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p>Product Name</p>
                                                            <h5><%= item.name %></h5>
                                                        </td>
                                                        <td>
                                                            <p>Quantity</p>
                                                            <!-- <h5><%= item.quantity %></h5> -->
                                                            <h5> <%= productQuantities[item._id] || 0 %></h5>
                                                            
                                                        </td>
                                                        <td>
                                                            <p>Price</p>
                                                            <h5>₹<%= item.price %></h5>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
    
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Best Selling Product End -->

                        <!-- Earning chart star-->
                        <div class="col-xl-6">
                            <div class="card o-hidden card-hover">
                                <div class="card-header border-0 pb-1">
                                    <div class="card-header-title">
                                        <h4>Earning</h4>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div id="bar-chart-earning"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Earning chart end-->


                    </div>
                </div>
                <!-- Container-fluid Ends-->
            
                <!-- footer start-->
                <%- include('../partials/footer')%>
                <!-- footer End-->
            </div>
            <!-- index body end -->

            <script>
                // Create an empty array to store revenue data
                let revenueData = [];
                
                // Function to generate random revenue data (replace this with your data source)
                function generateRandomData() {
                const currentDate = new Date();
                const dateString = currentDate.toISOString().split('T')[0]; // Get the current date in "YYYY-MM-DD" format
                const amount = Math.floor(Math.random() * 1000); // Generate a random amount
                return { date: dateString, amount: amount };
                }
                
                // Function to update the chart with new data
                function updateChart() {
                const newDataPoint = generateRandomData();
                revenueData.push(newDataPoint);
                
                if (revenueData.length > 10) {
                revenueData.shift(); // Remove the oldest data point to keep a fixed number of data points
                }
                
                // Extract dates and amounts from the updated data
                const dates = revenueData.map(item => item.date);
                const amounts = revenueData.map(item => item.amount);
                
                // Create or update the chart
                if (chart) {
                chart.updateSeries([{ data: amounts }]);
                chart.updateOptions({ xaxis: { categories: dates } });
                } else {
                const options = {
                chart: {
                type: 'area',
                color: '#0da487',
                height: 350,
                },
                xaxis: {
                categories: dates,
                },
                series: [
                {
                name: 'Revenue',
                data: amounts,
                },
                ],
                };
                
                chart = new ApexCharts(document.querySelector('#revenue-chart'), options);
                console.log("I was here")
                chart.render();
                }
                }
                
                // Initial chart variable
                let chart = null;
                
                // Update the chart at regular intervals (e.g., every second)
                setInterval(updateChart, 1000);
                
                </script>

<%- include('../partials/end')%>