<%- include('../../partials/main', { pageTitle: 'Order detail' }) %>
<script src="https://kit.fontawesome.com/78155a1a48.js" crossorigin="anonymous"></script>

<!-- tracking section start -->
<div class="page-body">
    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-header title-header-block package-card">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h5 style="display:inline-block;">Order #<%= order.order_id%></h5>
                                    <input type="hidden" value="<%= order.order_id%>" id="orderId">
                                    <div style="display:inline-block;padding: 2px 5px !important;font-size:5px !important;" class="<%= order.payment_status ? 'status-close' : 'status-danger' %>">
                                        <span><i class="fa-regular fa-circle-dot"></i>  <%= order.payment_status ? 'Paid' : 'Unpaid' %></span>
                                    </div>
                                    <div style="display:inline-block;padding: 2px 5px !important;font-size:5px !important;" class = "<%= custom_css %>">
                                        <span><i class="fa-regular fa-circle-dot"></i> <%= order.status %></span>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="theme-form theme-form-2 mega-form" style="font-size: 13px !important;">    
                                                <div class="onhover-dropdown">
                                                    <div class="notification-box">
                                                        
                                                        <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" id="deliveryManStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <% if(order.is_delivery_man_assigned){ %>
                                                                    <%= order.delivery_id.fname %> <%= order.delivery_id.lname %>
                                                                <% } else { %>
                                                                    <%= order.delivery_man %>
                                                                <% } %>
                                                                    
                                                        </button>
                                                    </div>
                                                    <ul class="status-drop notification-dropdown onhover-show-div" style="top: 45px;width: 100%;">
                                                        <% deliveryman.forEach(sub => { %>
                                                            <a class="deliveryMan-dropdown-item" href="#" data-status="<%= sub.id %>"><%= sub.fname %> <%= sub.lname %> --  <%= sub.city %></a>
                                                        <% }) %>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="theme-form theme-form-2 mega-form" style="font-size: 13px !important;">    
                                                <div class="onhover-dropdown">
                                                    <div class="notification-box">
                                                        <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" id="paymentStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Payment
                                                        </button>
                                                    </div>
                                                    <ul class="status-drop notification-dropdown onhover-show-div" style="top: 45px;width: 100%;">
                                                        <a class="payment-status-dropdown-item" href="#" data-status="True">Paid</a>
                                                        <a class="payment-status-dropdown-item" href="#" data-status="False">Unpaid</a>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="theme-form theme-form-2 mega-form"  >
                                                <div class="onhover-dropdown">
                                                    <div class="notification-box">
                                                        <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Status
                                                          </button>
                                                    </div>
                                                    <ul class="status-drop notification-dropdown onhover-show-div" style="top: 45px;width: 100%;">
                                                        <a class="dropdown-item" href="#" data-status="Pending">Pending</a>
                                                        <a class="dropdown-item" href="#" data-status="Confirmed">Confirmed</a>
                                                        <a class="dropdown-item" href="#" data-status="Processing">Processing</a>
                                                        <a class="dropdown-item" href="#" data-status="Out for delivery">Out for Delivery</a>
                                                        <a class="dropdown-item" href="#" data-status="Delivered">Delivered</a>
                                                        <a class="dropdown-item" href="#" data-status="Returned">Returned</a>
                                                        <a class="dropdown-item" href="#" data-status="Failed">Failed</a>
                                                        <a class="dropdown-item" href="#" data-status="Cancelled">Cancelled</a>
                                                        <a class="dropdown-item" href="#" data-status="Scheduled">Scheduled</a>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <a href="/admin/orders/generate-invoice/<%= order._id %>" class="mt-1" style="font-size:12px">
                                    <i class="fa-solid fa-print"></i> Print Invoice
                                </a>
                            </div>
                            <div class="card-order-section"style="padding: 2px">
                                <ul style="padding: 2px 0 0 ;margin: -1px 0 0 0;">
                                    <li><%= order.created_date.toLocaleDateString('en-UK', options)%></li>
                                    <li>No of Itmes: <%= order.product_items.length %></li>
                                    <li>Total: ₹<%= order.grand_total%></li>
                                </ul>
                            </div>
                        </div>
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="4">Items</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% order.product_items.forEach(function(item){ %>
                                                    <tr class="table-order">
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <img src="/images/<%= item.product_id.image %>"
                                                                    class=" lazyload img-fluid" alt="" style="width: 80px; height: 80px;">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p>Product Name</p>
                                                            <h5><%= item.product_id.name %></h5>
                                                        </td>
                                                        <td>
                                                            <p>Quantity</p>
                                                            <h5><%= item.quantity %> ltrs</h5>
                                                        </td>
                                                        <td>
                                                            <p>Price</p>
                                                            <h5>₹<%= item.price %></h5>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>

                                            <tfoot>
                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h5>Subtotal :</h5>
                                                    </td>
                                                    <td>
                                                        <h4>₹<%= order.total_price%></h4>
                                                    </td>
                                                </tr>

                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h5>Shipping :</h5>
                                                    </td>
                                                    <td>
                                                        <h4>₹<%= order.delivery_fee%></h4>
                                                    </td>
                                                </tr>

                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h5>Coupon Discount : </h5>
                                                    </td>
                                                    <td>
                                                        <h4>(-) ₹<%= order.coupon_discount %></h4>
                                                    </td>
                                                </tr>

                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h4 class="theme-color fw-bold">Total Price :</h4>
                                                    </td>
                                                    <td>
                                                        <h4 class="theme-color fw-bold">₹<%= order.grand_total%></h4>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="order-success">
                                        <div class="row g-4">
                                            <h4>summary</h4>
                                            <ul class="order-details">
                                                <li>Customer: <%= order.user_id.first_name %> <%= order.user_id.last_name %> </li>
                                                <li>Order Date: <%= order.created_date.toLocaleDateString('en-UK', options)%> </li>
                                                <!-- <li>Total Orders: <%= order.total_orders %></li> -->
                                            </ul>

                                            <h4>Branch Details</h4>
                                            <ul class="order-details">
                                                <li>Name : <%= order.branch_id.name %></li>
                                                <li>City : <%= order.branch_id.city %></li>
                                            </ul>

                                            <h4>shipping address</h4>
                                            <ul class="order-details">
                                                <li><%= order.address_id.address_1 %></li>
                                                <li><%= order.address_id.city%> <%= order.address_id.state%> </li>
                                                <li><%= order.address_id.country%>, <%= order.address_id.pincode %></li>
                                                <li>Contact no. <%= order.user_id.phone%></li>
                                            </ul>

                                            <div class="payment-mode">
                                                <h4>Payment Method</h4>
                                                <p><%= order.payment_method %></p>
                                            </div>

                                            <div class="delivery-sec">
                                                <h3>expected date of delivery: <span style="font-size: 15px;"> <%= order.delivery_date%></span> </h3>
                                                <a href="/admin/orders/track-order/<%= order.id %>">track order</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking table end -->
    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="confirmationModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the <%= user.first_name %>, preview is inherited from the object, object will create a
                            new permission for this object</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-animation btn-md fw-bold" id="confirmStatusChange" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Updated.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal Box End -->
    <!-- Delete Modal Box Start -->
    <!-- Delete Modal Box End -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
   // Function to handle the status change confirmation
   function handleStatusChange(event) {
        event.preventDefault();
        const selectedStatus = $(this).data('status');
        const orderId = $('#orderId').val();
        // Show the Bootstrap modal
        $('#confirmationModal').modal('show');
        // When the "Yes" button in the modal is clicked
        $('#confirmStatusChange').on('click', function() {
            // Close the modal
            $('#confirmationModal').modal('hide');
            // Make an API request to update the status
            updateStatus(orderId, selectedStatus);
        });
    }

    // Function to update the status via API
    function updateStatus(orderId, selectedStatus) {
        console.log(selectedStatus)
        $.ajax({
            type: 'POST',
            url: '/admin/orders/updateStatus', // Replace with your API endpoint
            data: { orderId, selectedStatus },
            success: function(response) {
                window.location.reload();
            },
            error: function(error) {
                // Handle errors
                console.error('Error updating status:', error);
            }
        });
    }

    // Attach click event to dropdown items
    $('.dropdown-item').on('click', handleStatusChange);
</script>

<script>
    // Function to handle the payment status change confirmation
    function handlePaymentStatusChange(event) {
         event.preventDefault();
         const selectedPaymentStatus = $(this).data('status');
         const orderId = $('#orderId').val();
         // Show the Bootstrap modal
         $('#confirmationModal').modal('show');
         // When the "Yes" button in the modal is clicked
         $('#confirmStatusChange').on('click', function() {
             // Close the modal
             $('#confirmationModal').modal('hide');
             console.log("clicked")
             // Make an API request to update the payment status
             updatePaymentStatus(orderId, selectedPaymentStatus);
         });
     }
 
     // Function to update the payment status via API
     function updatePaymentStatus(orderId, selectedPaymentStatus) {
         $.ajax({
             type: 'POST',
             url: '/admin/orders/updatePaymentStatus', // Replace with your API endpoint for payment status update
             data: { orderId, selectedPaymentStatus },
             success: function(response) {
                 window.location.reload();
             },
             error: function(error) {
                 // Handle errors
                 console.error('Error updating payment status:', error);
             }
         });
     }
 
     // Attach click event to payment status dropdown items
     $('.payment-status-dropdown-item').on('click', handlePaymentStatusChange);
 </script>

<script>
    // Function to handle the payment status change confirmation
    function handleDeliveryManStatusChange(event) {
         event.preventDefault();
         const selectedDeliveryMan = $(this).data('status');
         const orderId = $('#orderId').val();
         // Show the Bootstrap modal
         $('#confirmationModal').modal('show');
         // When the "Yes" button in the modal is clicked
         $('#confirmStatusChange').on('click', function() {
             // Close the modal
             $('#confirmationModal').modal('hide');
             console.log("clicked")
             // Make an API request to update the payment status
             updateDeliveryManStatus(orderId, selectedDeliveryMan);
         });
     }
 
     // Function to update the payment status via API
     function updateDeliveryManStatus(orderId, selectedDeliveryMan) {
         $.ajax({
             type: 'POST',
             url: '/admin/orders/assignDeliveryMan', // Replace with your API endpoint for payment status update
             data: { orderId, selectedDeliveryMan },
             success: function(response) {
                 window.location.reload();
             },
             error: function(error) {
                 // Handle errors
                 console.error('Error updating Delivery Man status:', error);
             }
         });
     }
 
     // Attach click event to payment status dropdown items
     $('.deliveryMan-dropdown-item').on('click', handleDeliveryManStatusChange);
 </script>

  <!-- footer start-->
  <%- include('../../partials/footer')%>
  <!-- footer End-->

  <%- include('../../partials/end')%>

