<%- include('../../partials/main', { pageTitle: 'Order detail' }) %>
<script src="https://kit.fontawesome.com/78155a1a48.js" crossorigin="anonymous"></script>
<style>
    .progtrckr li.fail:before{
        background-color: #ff0000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00d";
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 2.2em;
        border: none;
        border-radius: 2.2em;
    }
    .progtrckr li.return:before{
        background-color: #cbc82f;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00d";
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 2.2em;
        border: none;
        border-radius: 2.2em;
    }
    .progtrckr li.schedule:before{
        background-color: #9faca5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00d";
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 2.2em;
        border: none;
        border-radius: 2.2em;
    }
    .progtrckr li.out:before{
        content: "\f472";
    }
    .progtrckr li.process:before{
        content: "\f52f";
    }
    .progtrckr li.deliver:before{
        content: "\f06b";
    }
</style>

            <!-- Order Tracking Seation starts-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="title-header option-title">
                                                <h5>Order Tracking</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 overflow-hidden">
                                                    <div class="order-left-image">
                                                        <div class="tracking-product-image">
                                                            <img src="/images/<%= order.branch_id.image %>"
                                                                class="img-fluid w-100 blur-up lazyload" alt="">
                                                        </div>

                                                        <div class="order-image-contain">
                                                            <div class="tracker-number">
                                                                <p>Order Number : <span><%= order.order_id %></span></p>
                                                                <p>Branch : <span><%= order.branch_id.name %></span></p>
                                                                <p>Order Placed : <span><%= order.created_date.toLocaleDateString('en-UK', options)%></span></p>
                                                            </div>

                                                            <% if(order.status == "Pending") { %>
                                                                <h5>Your items is on the way. Tracking information will be
                                                                    available within 24 hours.</h5>
                                                            <% } else { %>
                                                                <h5>Your items is on the way</h5>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>

                                                <ol class="progtrckr">
                                                    <% if(order.status == "Pending") { %>
                                                        <li class="progtrckr-todo">
                                                            <h5>Confirmed</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Order Processing</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Out For Delivery</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Delivered</h5>
                                                        </li>
                                                    <% } %>                                                        
                                                    <% if(order.status == "Confirmed") { %>
                                                        <li class="progtrckr-done">
                                                            <h5>Confirmed</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Order Processing</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Out For Delivery</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Delivered</h5>
                                                        </li>
                                                    <% } %>                                                        
                                                    <% if(order.status == "Processing") { %>
                                                        <li class="progtrckr-done">
                                                            <h5>Confirmed</h5>
                                                        </li>
                                                        <li class="progtrckr-done process">
                                                            <h5>Order Processing</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Out For Delivery</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Delivered</h5>
                                                        </li>
                                                    <% } %>                                                                                                             
                                                    <% if(order.status == "Out for delivery") { %>
                                                        <li class="progtrckr-done">
                                                            <h5>Confirmed</h5>
                                                        </li>
                                                        <li class="progtrckr-done process">
                                                            <h5>Order Processing</h5>
                                                        </li>
                                                        <li class="progtrckr-done out">
                                                            <h5>Out For Delivery</h5>
                                                        </li>
                                                        <li class="progtrckr-todo">
                                                            <h5>Delivered</h5>
                                                        </li>
                                                    <% } %>                                                        
                                                    <% if(order.status == "Delivered") { %>
                                                        <li class="progtrckr-done">
                                                            <h5>Confirmed</h5>
                                                        </li>
                                                        <li class="progtrckr-done process">
                                                            <h5>Order Processing</h5>
                                                        </li>
                                                        <li class="progtrckr-done out">
                                                            <h5>Out For Delivery</h5>
                                                        </li>
                                                        <li class="progtrckr-done deliver">
                                                            <h5>Delivered</h5>
                                                        </li>
                                                    <% } %> 
                                                    <% if(order.status == "Failed") { %>
                                                        <li class="progtrckr-done fail" style="border-top: 4px solid #ff0000;">
                                                            <h5>Failed</h5>
                                                        </li>
                                                    <% } %>                                                            
                                                    <% if(order.status == "Cancelled") { %>
                                                        <li class="progtrckr-done fail" style="border-top: 4px solid #ff0000;">
                                                            <h5>Cancelled</h5>
                                                        </li>
                                                    <% } %>                                                            
                                                    <% if(order.status == "Returned") { %>
                                                        <li class="progtrckr-done return" style="border-top: 4px solid #cbc82f;">
                                                            <h5>Returned</h5>
                                                        </li>
                                                    <% } %>                                                            
                                                    <% if(order.status == "Scheduled") { %>
                                                        <li class="progtrckr-done schedule" style="border-top: 4px solid #9faca5;">
                                                            <h5>Scheduled</h5>
                                                        </li>
                                                    <% } %>                                                            
                                                </ol>

                                                <div class="col-12 overflow-visible">
                                                    <div class="tracker-table">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr class="table-head">
                                                                        <th scope="col">Date</th>
                                                                        <th scope="col">Time</th>
                                                                        <th scope="col">Description</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <h6><%= order.updated_date.toLocaleDateString('en-UK', options)%></h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6><%= order.updated_date.toLocaleTimeString('en-UK', options2) %>
                                                                            </h6>
                                                                        </td>
                                                                        <td>
                                                                            <p class="fw-bold"><%= order.status %></p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-end border-0 pb-0 d-flex justify-content-end">
                                            <button class="btn btn-primary me-3">Submit</button>
                                            <button class="btn btn-outline">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->


<!-- footer start-->
  <%- include('../../partials/footer')%>
  <!-- footer End-->

  <%- include('../../partials/end')%>

